<div class="login-container">
  <p-card
    header="Iniciar sesión"
    [style]="{ width: '25rem', 'margin-bottom': '2em' }"
  >
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="card-content">
      <div class="card-content">
        <div class="form-field">
          <label for="username">Nombre de usuario</label>
          <input
            id="username"
            type="text"
            pInputText
            formControlName="username"
          />
          <small id="username-help">
            Ingresa tu usuario. Mínimo 5 caracteres.
          </small>
          @if(username?.invalid && (username?.dirty || username?.touched)) {
            <small
              severity="error"
              text="El nombre de usuario es requerido y debe tener al menos 6 caracteres"
            >
            </small>
          }
        </div>
        <div class="form-field">
          <label for="password">Contraseña</label>
          <p-password
            id="password"
            formControlName="password"
            [feedback]="false"
          ></p-password>
          <small id="username-help">
            Ingresa tu contraseña. Mínimo 8 caracteres.
          </small>
          @if(password?.invalid && (password?.dirty || password?.touched)) {
            <small
              severity="error"
              text="La contraseña es requerida y debe tener al menos 8 caracteres"
            >
            </small>
          }
        </div>
        <p-button
          label="Iniciar sesión"
          (onClick)="onSubmit()"
          [disabled]="loginForm.invalid"
        >
        </p-button>
      </div>
    </form>
  </p-card>
</div>
