@import "../../../../styles/index";

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background-color: $light-color;

  ::ng-deep .p-card {
    .p-card-body {
      padding: $spacing-large;

      .p-card-content .card-content {
        display: flex;
        flex-direction: column;
        gap: $spacing-large;
      }

      .p-button {
        margin-top: $spacing-medium;
      }
    }

    label {
      display: block;
      margin-bottom: $spacing-small;
      font-weight: bold;
    }

    .p-inputtext,
    .p-password,
    .p-button {
      width: 100%;
    }
  }
}
