<div class="posts-container">
  <h2>Publicaciones recientes</h2>
  <div class="posts-grid">
    <p-card *ngFor="let post of posts" styleClass="post-card">
      <ng-template pTemplate="header">
        <div class="post-header">
          <div class="post-info">
            <h3>Usuario {{ post.userId }}</h3>
          </div>
        </div>
      </ng-template>
      <h4>{{ post.title }}</h4>
      <p>{{ post.body }}</p>
      <ng-template pTemplate="footer">
        <div class="post-actions">
          <p-button icon="pi pi-heart" styleClass="p-button-text"></p-button>

          <ng-container *ngIf="userRole$ | async as userRole">
            <p-button
              *ngIf="userRole === 'admin'"
              icon="pi pi-pencil"
              styleClass="p-button-text"
              (click)="editPost(post)"
            ></p-button>
            <p-button
              *ngIf="userRole === 'admin'"
              icon="pi pi-trash"
              styleClass="p-button-text"
              (click)="deletePost(post)"
            ></p-button>
            <p-button
              *ngIf="userRole === 'admin'"
              icon="pi pi-plus"
              styleClass="p-button-text"
              (click)="createPost()"
            ></p-button>
          </ng-container>
        </div>
      </ng-template>
    </p-card>
  </div>
</div>
