@import "../../../../styles/index";

.posts-container {
  margin: 0 auto;
  padding: $spacing-large;
  background-color: $light-color;

  .posts-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $spacing-medium;

    .add-post-button {
      margin-left: auto;
    }
  }

  .posts-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: $spacing-large;
    grid-auto-rows: 1fr;

    ::ng-deep .p-card {
      height: 100%;
      padding: $spacing-medium;

      .post-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .p-card-body {
        padding: 0;
      }

      .post-footer {
        display: flex;
        justify-content: flex-end;
        margin-top: $spacing-small;

        .post-actions {
          display: flex;
          gap: $spacing-small;
        }
      }
    }
  }
}
