<div class="posts-container">
  <h2>Publicaciones recientes</h2>
  <div class="posts-grid">
    <p-card styleClass="post-card">
      <ng-template pTemplate="header">
        <div class="post-header">
          <div class="post-info">
            <h3>David Boccalandro</h3>
          </div>
        </div>
      </ng-template>
      <h4>Título temporal</h4>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis
        provident ad qui beatae sint debitis praesentium dolorum exercitationem
        quaerat quasi cum, possimus quis quam ratione, sit dicta corporis
        consequatur dolores.
      </p>
      <ng-template pTemplate="footer">
        <div class="post-actions">
          <p-button icon="pi pi-heart" styleClass="p-button-text"></p-button>
          <p-button icon="pi pi-comment" styleClass="p-button-text"></p-button>
          <p-button
            icon="pi pi-share-alt"
            styleClass="p-button-text"
          ></p-button>
        </div>
      </ng-template>
    </p-card>
    <p-card styleClass="post-card">
      <ng-template pTemplate="header">
        <div class="post-header">
          <div class="post-info">
            <h3>David Boccalandro</h3>
          </div>
        </div>
      </ng-template>
      <h4>Título temporal</h4>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis
        provident ad qui beatae sint debitis praesentium dolorum exercitationem
        quaerat quasi cum, possimus quis quam ratione, sit dicta corporis
        consequatur dolores.
      </p>
      <ng-template pTemplate="footer">
        <div class="post-actions">
          <p-button icon="pi pi-heart" styleClass="p-button-text"></p-button>
          <p-button icon="pi pi-comment" styleClass="p-button-text"></p-button>
          <p-button
            icon="pi pi-share-alt"
            styleClass="p-button-text"
          ></p-button>
        </div>
      </ng-template>
    </p-card>
    <p-card styleClass="post-card">
      <ng-template pTemplate="header">
        <div class="post-header">
          <div class="post-info">
            <h3>David Boccalandro</h3>
          </div>
        </div>
      </ng-template>
      <h4>Título temporal</h4>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis
        provident ad qui beatae sint debitis praesentium dolorum exercitationem
        quaerat quasi cum, possimus quis quam ratione, sit dicta corporis
        consequatur dolores.
      </p>
      <ng-template pTemplate="footer">
        <div class="post-actions">
          <p-button icon="pi pi-heart" styleClass="p-button-text"></p-button>
          <p-button icon="pi pi-comment" styleClass="p-button-text"></p-button>
          <p-button
            icon="pi pi-share-alt"
            styleClass="p-button-text"
          ></p-button>
        </div>
      </ng-template>
    </p-card>
  </div>
</div>
