@if(isLoading) {
  <div class="spinner-container">
    <app-spinner></app-spinner>
  </div>
} @else {
  <div class="posts-container">
    <header class="posts-header">
      <h2>Publicaciones recientes</h2>
      <div class="add-post-button" *ngIf="userRole$ | async as userRole">
        <p-button
          label="Agregar Publicación"
          icon="pi pi-plus"
          (click)="createPost()"
          styleClass="p-button-success"
        ></p-button>
      </div>
    </header>
    <div class="posts-grid" *ngIf="posts$ | async as posts">
      <p-card *ngFor="let post of posts">
        <ng-template pTemplate="header">
          <div class="post-header">
            <div class="post-info">
              <h3>Usuario {{ post.userId }}</h3>
            </div>
            <div class="post-actions">
              <p-button
                icon="pi pi-pencil"
                (click)="editPost(post)"
                styleClass="p-button-text"
              ></p-button>
              <p-button
                icon="pi pi-trash"
                (click)="deletePost(post)"
                styleClass="p-button-text"
              ></p-button>
            </div>
          </div>
        </ng-template>
        <div class="post-content">
          <h4>{{ post.title }}</h4>
          <p>{{ post.body }}</p>
        </div>
        <ng-template pTemplate="footer">
          <div class="post-footer">
            <p-button icon="pi pi-heart" styleClass="p-button-text"></p-button>
          </div>
        </ng-template>
      </p-card>
    </div>
  </div>
}
